<div class="row">

    <div class="col-6">
        <!-- LLama a componenete dona
        se añade otro valor -->
        <app-dona
        titulo="Ventas"
        ></app-dona>
    </div>
    <div class="col-6">
        <!-- valroes a usarse en el hijo  -->
        <app-dona
        [labels]="labels1"
        [data]="data1"
        titulo="Compras"></app-dona>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <app-dona></app-dona>
    </div>
    <div class="col-6">
        <app-dona></app-dona>
    </div>
</div>