<div class="input-group">
    <!-- Boton menos -->
    
    <span class="input-group-btn">
      <button [ngClass]="btnClass"
        type="button"
        (click)="cambiarValor(-5)">
        <i class="fa fa-minus"></i>
      </button>
    </span>
   
   
    <input type="number" 
    class="form-control" 
    [ngClass]="{'is-invalid': progreso > 100 || progreso < 0 }"

    placeholder="progreso"
    (ngModelChange)="onChange($event)"
    [(ngModel)]="progreso">

    <!-- Boton mas -->
    <span class="input-group-btn">
      <button [ngClass]="btnClass" 
        type="button" 
        (click)="cambiarValor(5)">
        <i class="fa fa-plus"></i>
      </button>
    </span>
  </div>